* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

/*------- NAVIGATIONSBAR -------*/


nav {
    overflow: hidden;

    background-color: #655C53;


    margin: 0;
}

nav a {

    float: left;
    font-size: 2rem;
    font-family: 'Tenor Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    margin: 0;

}

.dropdown {
    float: left;
    overflow: hidden;
    padding: 0.5vw;
}

.dropdown .drop_button {
    font-size: 2vw;
    font-family: sans-serif;
    border: none;
    outline: none;
    color: white;
    padding: 1vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .drop_button {
    background-color: white;
    color: #aa9f92;


}


.dropdown_content {
    display: none;
    position: absolute;
    left: 0vw;
    top: 4.2vw;
    background-color: white;
    width: 25vw;
    box-shadow: 0vw 0.4vw 1vw 0vw rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown_content a {
    float: none;
    font-size: 1rem;
    color: #3e362f;
    padding: 1vw 1.2vw;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Tenor Sans', sans-serif;
    text-transform: none;
}

.dropdown_content a:hover {
    color: #aa9f92;
}

.dropdown:hover .dropdown_content {
    display: block;
}


/*-------- GENERELT INDHOLD ----------------*/

section {
    background-color: white;
    margin: 3vw;
    padding: 1vw;
}

/********VIDEO*******/
#video_content {
    height: 25vw;
    width: 25vw;
}

/******************** Style Tekst ******************/


h1 {
    text-align: left;
    font-size: 4vw;
    font-family: 'Tenor Sans', sans-serif;
    font-style: bold;
    color: #3e362f;
}

h2 {
    text-align: left;
    font-size: 2.3vw;
    font-weight: 550;
    font-family: 'EB Garamond', serif;
    font-style: bold;
    color: #3e362f;
}

p {
    text-align: left;
    font-size: 1.5vw;
    font-family: 'EB Garamond', serif;
    color: #3e362f;
}

footer {
    background-color: white;
    margin: 3vw;
    padding: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
}

ul {

    text-align: left;
    font-family: 'EB Garamond', serif;
    font-size: 1.5vw;
}

li {
    text-align: left;
    font-family: 'EB Garamond', serif;
    font-size: 1.5vw;
    color: #3e362f;
}

#brugertest p {
    font-style: italic;
}

a {
    text-align: left;
    font-family: sans-serif;
    font-size: 1.5vw;
    font-family: 'Tenor Sans', sans-serif;
    color: #776f64;
}

a:hover {
    color: #aa9f92;
}

footer {
    font-family: 'EB Garamond', serif;
    color: #625a50;
}


/* ***************colors************* */

.colors div {
    height: 70px;
    width: 70px;
}


.farve_1 {
    background-color: #F7F6F4;
}


.farve_2 {
    background-color: #655C53;
}

.farve_3 {
    background-color: #342E29;
}


.farve_4 {
    background-color: #948F8A;
}


/* ***************colors slut************* */


/* ***************billeder style************* */


#inspiration1 img {
    height: 29vw;
    width: 50vw;
    background-size: cover;
}


#inspiration2 img {
    height: 29vw;
    width: 50vw;
    background-size: cover;
}


#inspiration3 img {
    height: 20vw;
    width: 50vw;
    background-size: cover;
}


#skitse img {
    height: 55vw;
    width: 40vw;
    background-size: cover;
}



#knap1 img {
    height: 5vw;
    width: 18vw;
    background-size: cover;
}


#knap2 img {
    height: 5vw;
    width: 18vw;
    background-size: cover;
}


#logo img {
    height: 28vw;
    width: 30vw;
    background-size: cover;
}


#fotostil img {
    height: 30vw;
    width: 45vw;
    background-size: cover;
}



#moodboard img {
    height: 50vw;
    width: 70vw;
    background-size: cover;
    margin-left: 10vw;


}

#video {
    width: 100vw;
    padding: 0;
    margin: 0;
}

#video_content {
    position: relative;
}

video {
    width: 100%;
}


#fotostil {
    display: flex;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
}

#fotostil img {
    scroll-snap-align: center;
    background-image: cover;
    padding: 1vw;
}


#fotostil_red {
    display: flex;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
}

#fotostil_red img {
    scroll-snap-align: center;
    background-image: cover;
    padding: 1vw;
}
